<section class="success hidden" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>关于我们</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>咖萌亲子俱乐部是聚焦亲子活动的平台</p>
      </div>
      <div class="col-lg-4">
        <p></p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="#" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> 下载安卓应用
        </a>
      </div>
    </div>
  </div>
</section>
