<!-- Footer -->
<footer class="text-center">
  <div class="footer-above hidden">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>地址</h3>
          <p>陕西省西安市</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>关于我们</h3>
          <ul class="list-inline">
            <li>
              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
            </li>
            <li>
              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
            </li>
            <li>
              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-12">
          <!--<h3>关于咖萌</h3>-->
          <p><a href="http://www.kidsmeet.cn">咖萌亲子</a>  - 聚焦宝宝活动的社交平台 </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <p><a href="http://www.kidsmeet.cn">咖萌亲子</a> - <strong>聚焦宝宝</strong>社交活动的亲子平台 </p>
    <div class="footer-container">
      <div class="row">
        <div class="col-lg-12">
          <span class="icp">陕ICP备14013267号 &copy; 咖萌亲子</span>
        </div>
      </div>
    </div>
  </div>
</footer>