// Place all the styles related to the star_mothers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.masonry-container {
  min-height: 500px;
  .graph-container {
    width: 33%;
    img {
      width: 100%;
    }
  }

  .img-preview:hover {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}