// Place all the styles related to the star_mothers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.masonry-container {
  min-height: 500px;

  .graph-container {
    width: 32%;
    margin-left: 1%;
    margin-bottom: 10px;

    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    border: 1px solid #ddd;

    padding: 5px;

    img {
      width: 100%;
    }

    .graph-cover {
      color: white;
      display: none;
      z-index: 100;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(221, 99, 0, 0.8);
      cursor: pointer;

      .introduction {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 5%;
        h1 {
          border-bottom-color: white;
          font-weight: normal;
          text-shadow: none;
          font-size: 22px;
        }
        h2 {
          font-size: 20px;
        }
      }

    }

    &:hover {
      .graph-cover {
        display: block;
      }
    }
  }

  .img-preview:hover {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

.introduction-container {
  width: 100%;
  margin-left: 0;
  margin-bottom: 20px;
  padding: 15px;

  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  background-color: white;
  border: 1px solid #ddd;

  .img-preview:hover {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  h3 {
    border-bottom: 1px dashed #393939;
    padding-bottom: 5px;
  }
}

.works-container {
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
}

.works {
  h1 {
    border-bottom: none;
  }
}

@media screen and (max-width: 991px) {
  .masonry-container .graph-container {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .masonry-container .graph-container {
    width: 100%;
  }

  .col-sm-8, .col-sm-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .col-xs-12, .col-sm-12, .col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }
}